<header>
  <div class="content">
    <hgroup>
      <img src="img/gr4v1ty/gravity.png" style="width:128px;"/>
      <h1>Rezha@Gr4v1ty</h1>
      <h2>Graphic/Web Designer</h2>
    </hgroup>
  </div>
  <div class="overlay"></div>
</header>
  <nav class="navbar">
    <ul>
      <li><a href="#home" data-scroll data-options='{"speed": 1200,"easing": "easeInOutCubic","offset": 0}'>Home</a></li>
      <li><a href="#about" data-scroll data-options='{"speed": 1200,"easing": "easeInOutCubic","offset": 0}'>About</a></li>
      <li><a href="#portofolio" data-scroll data-options='{"speed": 1200,"easing": "easeInOutCubic","offset": 0}'>Portofolio</a></li>
      <li><a href="#contact" data-scroll data-options='{"speed": 1200,"easing": "easeInOutCubic","offset": 0}'>Contact</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
